<header class="border-bottom lh-1 py-2 shadow-sm">
  <div class="row flex-nowrap justify-content-between align-items-center m-0">
    <div class="sidebar-btn-container">
      <a class="btn btn-btn-dark sidebar-btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
        <i class="bi bi-list"></i>
      </a>
    </div>
    <div class="col text-center pl-md-0">
      <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">El blog de Angular</a>
    </div>
  </div>
</header>

<app-sidebar></app-sidebar>
