<article class="blog-post">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 offset-md-2 p-4">
        <a [routerLink]="['/']" class="icon-link icon-link-hover fs-5 mb-3" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
          <i class="bi bi-arrow-left-circle-fill"></i>
          Atrás
        </a>
        <h2 *ngIf="post" class="display-5 link-body-emphasis mb-1">
          {{ post.title }}
        </h2>
        <p class="blog-post-meta">{{ post?.date }} - <a href="#">Pablo</a></p>
        <p *ngIf="post">{{ post.content }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 p-4 mt-5">
        <app-comentarios [comentarios]="comentarios"></app-comentarios>
      </div>
    </div>
  </div>
</article>
