<h4 class="mb-3">
  <i class="bi bi-chat"></i> Comentarios
  <h5 class="d-inline">({{ comentarios.length }})</h5>
  :
</h4>
@for (comentario of comentarios; track comentario.id) {
<div
  class="d-flex flex-column border border-1 rounded-1 mb-3 p-3 bg-body-tertiary comentario"
>
  <h6 class="m-0 fst-italic opacity-75">Autor: {{ comentario.autor }}</h6>
  <div class="d-flex justify-content-between border-bottom">
    <h6 class="fst-italic opacity-75">Fecha: {{ comentario.fecha }}</h6>
    <div>
      @for (i of [].constructor(comentario.valoracion); track "fill" + $index) {
      <i class="bi bi-star-fill"></i>
      } @for (i of [].constructor(sinValoracion(comentario)); track "star" +
      $index) {
      <i class="bi bi-star"></i>
      }
    </div>
  </div>
  <p class="m-0">{{ comentario.texto }}</p>
</div>
} @empty {
<p class="text-center rounded-1 py-auto bg-body-tertiary text-muted p-3">
  No hay comentarios
</p>
}
<button
  class="btn btn-outline-primary mb-3"
  (click)="formularioComentar = !formularioComentar"
>
  <i class="bi bi-chat"></i> Comentar
</button>

<app-open-close [openClose]="formularioComentar">
  <app-agregar-comentario
    [idPost]="idPost"
    (comentarioCreado)="comentarioCreado($event)"
  ></app-agregar-comentario>
</app-open-close>
