<div class="offcanvas offcanvas-start" style="width: 16em" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categorías</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li *ngFor="let categoria of categorias" class="list-group-item list-group-item-action">
        <a [routerLink]="['/categoria', categoria.id]" class="text-body-emphasis fw-bold">{{categoria.nombre}}</a>
      </li>
    </ul>
  </div>
</div>
